# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/backend.hcl
**/crash.log
**/crash.*.log

# Ansible deps/artifacts
**/collections/
**/roles/
**/.ansible/
**/*.retry
ansible/inventories/**/hosts.yml

# AWS
aws/*
