#cloud-config

users:
  - name: ubuntu
    lock_passwd: false
    shell: /bin/bash
    sudo: ["ALL=(ALL) ALL"]
    ssh_authorized_keys:
      - ${ssh_public_key}

chpasswd:
  expire: false
  list: |
    ubuntu:${ubuntu_password}

ssh_pwauth: false
disable_root: true
