---
zabbix_compose_dir: /opt/zabbix
zabbix_db_container: zabbix-db-1
zabbix_server_image: "zabbix/zabbix-server-mysql:6.4-ubuntu-latest"
zabbix_web_image: "zabbix/zabbix-web-nginx-mysql:6.4-ubuntu-latest"
zabbix_mysql_image: "mysql:8.0"

zabbix_db_name: zabbix
zabbix_db_user: zabbix
zabbix_db_pass: zabbix
zabbix_db_root_pass: zabbix

zabbix_http_port: 80
zabbix_server_port: 10051

zabbix_php_tz: "America/Chicago"
