---
# Installs and configures Zabbix Agent2 on lab nodes.

- name: Install Zabbix Agent2
  hosts: vault
  become: true
  vars:
    zabbix_version: "7.0"
    zabbix_server_ip: "{{ zabbix_server_private_ip }}"

  tasks:
    - name: Install Zabbix repo package
      ansible.builtin.apt:
        deb: "https://repo.zabbix.com/zabbix/{{ zabbix_version }}/ubuntu/pool/main/z/zabbix-release/zabbix-release_{{ zabbix_version }}-1+ubuntu{{ ansible_distribution_version }}_all.deb"
      register: zabbix_repo_deb
      failed_when: false

    - name: Apt update
      ansible.builtin.apt:
        update_cache: true

    - name: Install zabbix-agent2
      ansible.builtin.apt:
        name:
          - zabbix-agent2
        state: present

    - name: Configure Agent2 server
      ansible.builtin.lineinfile:
        path: /etc/zabbix/zabbix_agent2.conf
        regexp: '^Server='
        line: "Server={{ zabbix_server_ip }}"

    - name: Configure Agent2 server (active)
      ansible.builtin.lineinfile:
        path: /etc/zabbix/zabbix_agent2.conf
        regexp: '^ServerActive='
        line: "ServerActive={{ zabbix_server_ip }}"

    - name: Set Agent2 hostname
      ansible.builtin.lineinfile:
        path: /etc/zabbix/zabbix_agent2.conf
        regexp: '^Hostname='
        line: "Hostname={{ inventory_hostname }}"

    - name: Ensure Agent2 enabled and started
      ansible.builtin.service:
        name: zabbix-agent2
        enabled: true
        state: restarted