---
# Registers the vault nodes in Zabbix via API.

- name: Register lab nodes in Zabbix
  hosts: localhost
  gather_facts: false
  vars:
    zabbix_api_url: "{{ hostvars[groups['zabbix'][0]].zabbix_api_url | default('http://' ~ hostvars[groups['zabbix'][0]].ansible_host ~ '/zabbix/api_jsonrpc.php') }}"
    zabbix_login_user: "Admin"
    zabbix_login_password: "{{ zabbix_admin_password }}"
    zabbix_host_group: "Labs/Vault"
    zabbix_template: "Linux by Zabbix agent"

  tasks:
    - name: Ensure host group exists
      community.zabbix.zabbix_hostgroup:
        server_url: "{{ zabbix_api_url }}"
        login_user: "{{ zabbix_login_user }}"
        login_password: "{{ zabbix_login_password }}"
        hostgroup_name: "{{ zabbix_host_group }}"
        state: present
      no_log: true

    - name: Register hosts
      community.zabbix.zabbix_host:
        server_url: "{{ zabbix_api_url }}"
        login_user: "{{ zabbix_login_user }}"
        login_password: "{{ zabbix_login_password }}"
        host_name: "{{ item }}"
        visible_name: "{{ item }}"
        host_groups:
          - "{{ zabbix_host_group }}"
        link_templates:
          - "{{ zabbix_template }}"
        status: enabled
        interfaces:
          - type: 1
            main: 1
            useip: 1
            ip: "{{ hostvars[item].private_ip }}"
            dns: ""
            port: "10050"
        state: present
      loop: "{{ groups['vault'] | default([]) }}"
      no_log: true